/* grid generator end */
.flex {
  display: flex;
}

.content {
  height: 100%;
}
.container {
  width: 100%;
  display: flex;
  padding: 10px;
}
.card {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.5s;

  &:hover {
    cursor: default;
    transform: scale(1.04);
  }
}

/* absensi */
.absensi {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}
    
.hadir {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
}

.sakit {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
    grid-column-start: 2;
}

.izin {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
    grid-column-start: 3;
}

.alpa {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
    grid-column-start: 4;
}


/* tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}
tr:hover {
  background-color: #f9f9f9;
}
tbody {
  color: #444444;
}
