* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "LilitaOne";
  src: url(../fonts/LilitaOne.ttf);
}
body {
    font-size: 25px;
  background: #fff;
  color: #fff;
  font-family: "LilitaOne";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  border-radius: 10px;
  background: linear-gradient(45deg, #2563eb, #153885);
  min-width: 400px;
  max-width: 600px;
  overflow: hidden;
  display: inline-block;  
  height: 540px;
}
form {
    transform: translateY();
}

.flex {
  display: flex;
}
label {
  font-size: 22px;
  display: grid;
  padding: 10px 0;
  textarea {
    padding: 10px;
  }
}
section {
  padding: 20px;
  display: grid;
  overflow: hidden;
  height: 520px;
  align-content: space-between;
}
label {
    /* padding: 10px 0; */
  select, input {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: "LilitaOne";
  }
}
a, input[type="submit"] {
  margin-top: 10px;
  display: grid;
  align-items: center;
  height: 40px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  font-family: "LilitaOne";
  cursor: pointer;
  color: #fff;
  text-align: center;
  width: 100%;
}
textarea {
    margin: 10px 0 ;
  font-family: "LilitaOne";
  resize: vertical;
  height: 200px;
  border-radius: 8px;
  border: 2px solid #444;
  background:#ffffff;
  color: #000;
}

/* HADIR */
#hadir {
  color: #fff;
  background: linear-gradient(45deg, #2193b061, #6dd5ed);
  transition: background 0.5s ease;
}
#hadir:hover {
  background: linear-gradient(90deg, #6dd5ed, #2193b0);
}

/* SAKIT */
#sakit {
  color: #fff;
  background: linear-gradient(45deg, #ff7e29, #f9d423);
  transition: background 0.5s ease;
}
#sakit:hover {
  background: linear-gradient(90deg, #f9d423, #ff7e29);
}

/* IZIN */
#izin {
  color: #fff;
  background: linear-gradient(45deg, #11998e, #38ef7d);
  transition: background 0.5s ease;
}
#izin:hover {
  background: linear-gradient(90deg, #38ef7d, #11998e);
}

/* alpa */
.mageta {
    color: #fff;
    background: linear-gradient(45deg, #7a00fc, #e100ff);
}
.mageta:hover {
    color: #fff;
    background: linear-gradient(90deg, #7f00ff, #e100ff);
}
